div,ul,li,p,h1,h2,h3,h4,h5,h6,input,a,img,dl,dt,dd{margin:0;padding:0;}
li{list-style:none;}
a{text-decoration:none;color:#666;}
/*body{font-size:12px;font-family:Arial,"微软雅黑";color:#000;}*/
img{border:0;display:block;}
input{border:0;padding:0;}
.clear{clear:both;}
.fl{float: left;}
.fr{float: right;}
