body{max-width:1080px;margin:0 auto;}
.content{width:100%;position:relative;max-height:1920px;}
.content .box{width:100%;}
.content img{width:100%;}
.content .a{color:#fff;width:22%;height:15%;}
.content .a img{width:100%}
.content .a1{position:absolute;left:8%;top:18.7%;}
.content .a2{position:absolute;left:38.8%;top:18.7%;}
.content .a3{position:absolute;right:8%;top:18.7%;}
.content .a4{position:absolute;left:-3%;bottom:12%;}
.content .a5{position:absolute;left:-3%;bottom:9%;}
.content .a6{position:absolute;left:-3%;bottom:6%;}
.content .img1{width:70%;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);}
.content .img2{width:70%;position:absolute;left:50%;top:51.5%;transform:translate(-50%,-50%);}
.content .img3{width:70%;position:absolute;left:50%;top:54.3%;transform:translate(-50%,-50%);}
.content .box{height:100%;}
.content .box .div{width:100%;height:100%;display:none;position:absolute;left:0;top:0;z-index:10;}