body{max-width:600px;margin:0 auto;}
.content{width:100%;position:relative;max-height:1006px;}
.content img{width:100%;}
.content .img1{width:40.5%;position:absolute;left:29.5%;top:23.8%;}
.content .img2{width:59.5%;position:absolute;left:20.3%;bottom:37.2%;}











